
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-scroll-container] {
  overflow: hidden;
}
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging {
  cursor: grabbing;
}

html,body{
  scroll-behavior: smooth;
}
@layer base{
    body{
        font-family: "Plus Jakarta Sans", serif;
        font-optical-sizing: auto;
        font-weight: 200-800;
        font-style: normal;
        overflow-x: hidden;
        @apply text-neutral-700  ;
       
    }
    .logo{
        font-family: "PT Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400-700;
        font-style: normal;
    }
    p{
      @apply font-normal;
    }
    h1,h2,h3,h4{
      @apply text-neutral-900 font-semibold;
    }

     /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
     @apply bg-primary-100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-3xl
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary
  }
    
}